easyocr
langchain_classic
langchain_community
langchain_core
langchain_huggingface
langchain_ollama
langchain_text_splitters
pytest
python_docx
sentence_transformers
streamlit
langchain_core
pymupdf
torch
torchvision
torchaudio
frontend
rank_bm25
