# Frontend Framework
streamlit>=1.30.0
streamlit-option-menu

# Database (SQL ORM)
SQLAlchemy>=2.0.0

# LangChain Ecosystem
langchain
langchain-community
langchain-text-splitters
langchain_huggingface
langchain-ollama

# Vector Database, Embeddings & Reranking
faiss-cpu
transformers
sentence-transformers
rank_bm25

# Web Search Fallback
duckduckgo-search

# Document Processing
pdfplumber
docx2txt

# Data & Machine Learning Base
numpy
pandas
torch
torchvision
